@import "tailwindcss";

  @layer base {
    :root {
      /* Light mode */
      --bg-app: #f8fafc;            /* slate-50 */
      --bg-surface: #ffffff;
      --text-primary: #0f172a;      /* slate-900 */
      --text-secondary: #475569;    /* slate-600 */
      --border-color: #e2e8f0;      /* slate-200 */
      --primary: #2563eb;           /* blue-600 */
      --icon-sun: #facc15;   /* yellow-400 */
      --icon-moon: #334155;  /* slate-700 */
      --btn-bg: #e2e8f0;        /* slate-200 */
      --btn-bg-hover: #cbd5e1;  /* slate-300 */
    }
  
    .dark {
      /* Dark mode */
      --bg-app: #020617;            /* slate-950 */
      --bg-surface: #0f172a;        /* slate-900 */
      --text-primary: #f8fafc;      /* slate-50 */
      --text-secondary: #94a3b8;    /* slate-400 */
      --border-color: #1e293b;      /* slate-800 */
      --primary: #3b82f6;           /* blue-500 */
      --icon-sun: #facc15;   /* stays bright in dark mode */
      --icon-moon: #cbd5e1;  /* slate-300 for better contrast */
      --btn-bg: #1e293b;        /* slate-800 */
      --btn-bg-hover: #334155;  /* slate-700 */
    }
  
    body {
      background-color: var(--bg-app);
      color: var(--text-primary);
      transition: background-color 0.3s ease, color 0.3s ease;
      font-family: "Roboto", sans-serif;
    }
  }



