@import "tailwindcss";

/* body {
    @apply bg-gray-100;
    font-family: "Montserrat", sans-serif;
} */




















/* @keyframes fade-in {
    from { opacity: 0; transform: translateY(-8px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .animate-fade-in {
    animation: fade-in 0.25s ease-out;
  } */
  